<footer class="footer">
  <div class="footer-container">
    <div class="footer-one">
      <div class="footer-text">
        <div class="footer-info">
          <a href="/"
            ><img
              class="logo-footer"
              src="./assets/images/logos/top-gip-logo-black.png"
              alt="TG small logo"
          /></a>
          <span
            >Ми архітектурна компанія досвідчених людей, які поєднують в собі
            креативність, досвід та турботу про ваші домівки</span
          >
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-address">
          <svg
            class="address-icon"
            width="38"
            height="30"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
            />
            <circle cx="12" cy="10" r="3" />
          </svg>
          <a href="https://maps.app.goo.gl/SkvpCt2rWoTsqvu77" target="_blank"
            >33017, Україна, м. Рівне, вул. Уласа Самчука, 30А</a
          >
        </div>
        <div class="footer-address">
          <svg
            class="address-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
            />
          </svg>
          <a href="tel:+380673605388">+38 (067) 36 05 388</a>
        </div>
        <div class="footer-address">
          <svg
            class="address-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
            <rect x="2" y="4" width="20" height="16" rx="2" />
          </svg>
          <a href="mailto:topgip@ukr.net">topgip@ukr.net</a>
        </div>
      </div>
      <div class="footer-social">
        <div class="social">
          <a href="https://www.instagram.com/" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-instagram-icon lucide-instagram"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
              <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
            </svg>
          </a>
          <span>Instagram</span>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
              />
            </svg>
          </a>
          <span>Facebook</span>
        </div>
      </div>
      <div class="footer-social">
        <div class="social">
          <a href="https://www.pinterest.com/" target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              width="40"
              height="40"
              viewBox="0 0 512 512"
              fill="currentColor"
            >
              <path
                d="M220.646 338.475c-13.423 70.35-29.804 137.794-78.346 173.025-14.996-106.33 21.994-186.188 39.173-270.971-29.293-49.292 3.518-148.498 65.285-124.059 76.001 30.066-65.809 183.279 29.38 202.417 99.405 19.974 139.989-172.476 78.359-235.054-89.063-90.372-259.244-2.058-238.322 127.328 5.09 31.626 37.765 41.22 13.062 84.884-57.001-12.65-74.005-57.6-71.822-117.533 3.53-98.108 88.141-166.787 173.024-176.293C337.779-9.795 438.52 41.617 452.43 142.595c15.67 113.978-48.442 237.412-163.23 228.529-31.115-2.42-44.177-17.841-68.554-32.649z"
                style="display: inline"
              />
            </svg>
          </a>
          <span>Pinterest</span>
        </div>
        <div class="social">
          <a href="https://archbitr.com/" target="_blank">
            <img width="40" height="40" src="./assets/images/logos/logo-archbiter.png" alt="" />
          </a>
          <span>Архбітр</span>
        </div>
      </div>
    </div>
    <!-- Горизонтальна лінія -->
    <hr />
    <div class="footer-two">
      <div class="footer-pages-links">
        <a href="about.html">Про нас</a>
        <a href="services.html">Послуги</a>
        <a href="projects.html">Проекти</a>
        <a href="contact.html">Контакти</a>
      </div>
      <div class="footer-projects-links">
        <a href="projects.html?filter=residential_complexes"
          >Житлові комплекси</a
        >
        <a href="projects.html?filter=public_buildings">Громадські будівлі</a>
        <a href="projects.html?filter=urban_planning">Містобудування</a>
        <a href="projects.html?filter=private_housing">Приватне житло</a>
        <a href="projects.html?filter=industrial">Промислове будівництво</a>
        <a href="projects.html?filter=competitions">Конкурси</a>
      </div>
      <div class="terms-privacy">
        <a href="terms-of-use.html">Terms of use</a>
        <a href="privacy-policy.html">Privacy Policy</a>
      </div>
    </div>
    <hr />
    <span class="tg-rights">© Top Gip 2026 | All rights Reserved</span>
  </div>
</footer>

<button id="scrollTopBtn" title="На початок">
  <svg
    data-v-e0024724=""
    viewBox="0 0 1024 1280"
    height="16"
    width="16"
    xmlns="http://www.w3.org/2000/svg"
    class="icon-scroll"
  >
    <path
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      d="M1011 928q0 13-10 23l-50 50q-10 10-23 10t-23-10L512 608l-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"
    ></path>
  </svg>
</button>
